<section class="aside">
    <aside class="menu">
        <p class="menu-label">
            Pannel de Gestion
        </p>
        <ul class="menu-list">
            <li>@Html.ActionLink("Gestion des Comptes", "Index", "utilisateur", routeValues: null, htmlAttributes: new { @class = "button is-dark" })</li>
            <li>@Html.ActionLink("Affectation des Encadrant", "Index", "utilisateur", routeValues: null, htmlAttributes: new { @class = "button is-dark" })</li>
        </ul>
    </aside>
</section>