@{
    ViewBag.Title = "Home Page";
}


<!--Page d'accueil-->
<div class="jumbotron">
    <h1>SportAsso</h1>
    <p class="lead">
        SportAsso est une association sportive Grenobloise qui propose une multitude d'activités.
            Vous nous trouverez au 3 rue Ernest Renan.
    </p>
    <p><a href="../discipline/Index" class="btn btn-primary btn-lg">Découvrez nos discipline &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Derniers résultats</h2>
        <p>
            Notre section Gymnastique junior fille s'est classé 3ième du concours départemental, nous pouvons les féliciter !
        </p>
        <p><a class="btn btn-default" href="http://www.grenoblegymnastique.fr">Gymgrenoble &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>A la une !</h2>
        <p>
            Nous cherchon actuellement un encadrant pour la section tennis compétition homme, si vous avez des contacts n'hésitez pas à venir vers nous !<br />
            De plus, la séance du lundi pour la section <strong>Judo sénior loisir</strong> est annulée, Tom a un empêchement.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sondage</h2>
        <p>Nous voulons votre avis sur le développement d'une nouvelle discipline au sein de SportAsso. <br />Nous souhaitons intégrer le pole dance, nous avons un encadrant disponible.</p>
    </div>
</div>